# 1. API Framework & Servidor Async
fastapi>=0.110.0
uvicorn[standard]>=0.28.0
pydantic>=2.6.0
pydantic-settings>=2.2.0

# 2. Conexión a Base de Datos PostgreSQL & ORM
sqlalchemy>=2.0.28
psycopg2-binary>=2.9.9
asyncpg>=0.29.0
alembic>=1.13.1

# 3. Ciencia de Datos, ML & Explicabilidad
pandas>=2.2.0
numpy>=1.26.0
scikit-learn>=1.4.0
xgboost>=2.0.0
shap>=0.45.0
joblib>=1.3.0

# 4. MLOps & Experiment Tracking
mlflow>=2.11.0

# 5. Pruebas Unitarias & Calidad de Código
pytest>=8.0.0
pytest-asyncio>=0.23.0
httpx>=0.27.0
black>=24.2.0
ruff>=0.3.0

# 6. Frontend (demo)
streamlit>=1.32.0

# Data
kagglehub>=0.2.0
PyYAML>=6.0.1
prefect>=3.0.0

